//
//  Copyright 2015 Talking Bibles International
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

import Foundation

struct Config {
    struct analytics {
        static let googleAnalyticsId = ""
    }
    
    struct apple {
        static let merchantId = ""
    }
    
    struct parse {
        static let applicationId = ""
        static let clientKey = ""
        
        struct channels {
            static let coreDataUpdates = "CoreDataUpdates"
            static let articleUpdates = "ArticleUpdates"
        }
    }
    
    struct backgroundSession {
        static let downloadIdentifier = "org.talkingbibles.TalkingBible.downloadSession"
    }
    
    struct defaults {
        static let languageIds = ["eng"]
    }
    
    struct externalData {
        static let localArchiveName = "TalkingBibleData.zip"
        static let applicationDocumentsDirectoryName = "org.talkingbibles.TalkingBible.ExternalCoreData"
        static let mainStoreFileName = "TalkingBibleData.sqlite"
        static let mainModelName = "TalkingBibleData"
        static let errorDomain = "ExternalDataStore"
    }
    
    struct externalLinks {
        static let supportEmailAddress = "support@talkingbibles.org"
        static let informationalWebsite = "http://www.talkingbibles.org/"
        static let listeningWebsite = "http://listen.talkingbibles.org/"
        static let iosAppStoreWebsite = ""
        static let shareIcon = ""
    }
}